sentence-transformers
scikit-learn
numpy
faiss-cpu
groq

#requirements for running it on google colab:

#copying the repo
%cd /content
#!rm -rf RepoLens
#!git clone https://github.com/MetodiPetrovski/RepoLens.git

%cd RepoLens
!pwd
!ls

#import sys
#sys.path.append("/content/RepoLens")
#!pip install sentence-transformers
#!pip install faiss-cpu
#pip install groq
#import os
#os.environ["GROQ_API_KEY"] = ""
